<div id="{{about.id}}" class="{{config.sectionsGlobalClasses}}">
	<div class="container">
		<h1>{{about.label}}</h1>
		<div class="row">
			<div class="col s12 m6">
				<img src="{{about.img}}" class="responsive-img">
			</div>
			<div class="col s12 m6">
				<p>{{about.text}}</p>
				<div>
					<a href="{{header.btns.0.href}}" class="btn primary waves-effect my-2">
						{{header.btns.0.text}}
					</a>
				</div>
			</div>
		</div>
	</div>
</div>